* {
  box-sizing: border-box;
  background-color: aqua;
  background-image: url(./medic.png);
}

.dict {
  text-align: center;
  font-size: 70px;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: red;
}

.searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 5px;
}
